# Ignore specific folders
api/
test/
venv/
data/

# Ignore virtual environments (common names)
.venv/
env/
ENV/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.env.*

# Ignore OS clutter
.DS_Store
Thumbs.db

# Ignore build + log files
*.log
build/
dist/
